body {
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar {
    background-color: rgb(44, 58, 71);
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}

.logo {
    flex: 1;
   
}

.logo a {
    text-decoration: none;
    color: #fff;
}

.logo a > img{
    width: 100px;
    margin-bottom: 0;
}

.menu {
    list-style: none;
    display: flex;
    align-items: center;
}

.menu li {
    margin-right: 30px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu a {
    text-decoration: none;
    color: #fff;
   font-size: 17px;
   letter-spacing: 1px;
}


.section-hero img{
    width: 100%;
    height:80vh;
}

.about-section{
    padding: 2rem;
}

.about-section h1{
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.about-section p{
    padding: 0 1rem;
    letter-spacing: 2px;
    text-align: justify;
    font-size: 18px;
    line-height: 1.5;
}

footer{
    width: 100%;
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
    background-color: rgb(44, 58, 71);
    letter-spacing: 2px;
}
footer p{
margin-top: 0;
font-size: 18px;
    margin-bottom: 0;
    color: white;
}

.team-section{
    width: 80%;
    margin:2rem auto;
    padding: .5rem 0;
}
.team-section h1{
    text-align: center;
    letter-spacing: 2px;
}

.team-section .team-layout{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}

.team-section .team-layout article{
    width: 37.5%;
    text-align: center;
    padding: 1rem;
  margin: 1rem 0;
}

.team-section .team-layout article img{
    width: 90%;
    margin: auto;
    height: 250px;
    border-radius: 10px;
}

.team-section .team-layout article p{
    font-size: 17px;
    letter-spacing: 2px;
    background-color: rgb(44, 58, 71);
    width: 90%;
    margin:15px auto;
    padding: 10px 0;
    color: #fff;
    border-radius: 10px;
}

.contact-section{
    margin:2rem auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.contact-section h1{
    text-align: center;
    letter-spacing: 2px;
    padding: 10px;
    margin-bottom: 1rem;
    font-size: 30px;
}

.quotes{
    font-size: 20px;
    letter-spacing: 2px;
    background-color: rgb(44, 58, 71);
    padding: 10px;
    color: white;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    margin-bottom: 1.5rem;
    margin-top: 0;
}


/* form  */


form {

    padding: 30px ;
    border-radius: 8px;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    width: 37.5%;
    margin:2rem auto;
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 1.1rem;
    letter-spacing: 2px;
}

input, textarea {
    width: 100%;
    padding: 15px 10px;
    margin-bottom: 18px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid lightblue;
    border-radius: 8px;
   
}

button {
    background-color: rgb(44, 58, 71);
    color: #fff;
    padding: 10px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: auto;
    letter-spacing: 1px;
}

@media only screen and (max-width: 600px) {
    .team-section .team-layout article{ width: 100%; }
    .menu { width: 100%; }
   .logo { text-align: center; }
   .team-section .team-layout article img{ width: 100%;  height: 180px;}
   .team-section .team-layout article p{ font-size: 15px;  width: 100%;}
   form {   width: 92%; padding: 15px ;}
.contact-section{    width: 95%;  }
.quotes{
    font-size: 16px;
   
}

}